<!DOCTYPE html>
<html>
    <head>Crear Tarjeta</head>
    <body>
        <h1>Crear Tarjeta</h1>

        <form method="post">
            {% csrf_token %}
            <label for="tipo">Tipo</label>
            <input type="text" name="tipo" required>
            <br>
            <label for="numero">Numero</label>
            <input type="text" name="numero" required>
            <br>
            <label for="titular">Titular</label>
            <input type="text" name="titular" required>
            <br>
            <label for="fecha">Fecha</label>
            <input type="text" name="fecha" required>
            <button type="submit">Actualizar</button>
        </form>
    </body>
</html>