<!DOCTYPE html>
<html>
    <head>
        <title>Historial</title>
    </head>
    <body style="color: burlywood; background: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h1 style="color: gold;">Elegir Favoritos</h1>

        <form method="POST" action="{% url 'guardar_favoritos' %}">
            {% csrf_token %}
            <h2 style="color: blue;">Catelera</h2>
            {% for pelicula in peliculas %}
                <input type="radio" name="pelicula" value="{{ pelicula.titulo }}">{{ pelicula.titulo }}<br>
            {% endfor %}
            <button style="color: black; font-size: 20px; padding: 10px 20px; width: 200px;height: 50px;border-radius: 10px;background-color: bisque;" type="submit">Seleccionar</button>
        </form>
    </body>
</html>