<!DOCTYPE html>
<html>
    <head>
        <title>Menu Admin</title>
    </head>
    <body style="background-color: black;">
        <h1 style="color: gold;">Menu Administrador</h1>
        <h2>{{usuario_actual}}</h2>
        <form method="POST" action="{% url 'menu_admin' %}">
            {% csrf_token %}
            <button style="color: black; font-size: 20px; padding: 10px 20px; width: 200px;height: 50px;border-radius: 10px;background-color: bisque;" type="submit">Gestionar Cine</button>
        </form>
        <form method="POST" action="{% url 'volver_login' %}">
            {% csrf_token %}
            <button style="color: black; font-size: 20px; padding: 10px 20px; width: 200px;height: 50px;border-radius: 10px;background-color: bisque;" type="submit">Volver Login</button>
        </form>
    </body>   
</html>