<!DOCTYPE html>
<html>
    <head>
        <title>Menu Cliente</title>
    </head>
    <body>
        <h1>Menu Cliente</h1>
        <h2>{{usuario_actual}}</h2>
        <form method="POST" action="{% url 'comprar_boletos' %}">
            {% csrf_token %}
            <button type="submit">Comprar Boletos</button>
        </form>
        <form method="POST" action="{% url 'ver_historial' %}">
            {% csrf_token %}
            <button type="submit">Ver ver_historial</button>
        </form>
        <form method="POST" action="{% url 'favoritos' %}">
            {% csrf_token %}
            <button type="submit">Favoritos</button>
        </form>
        <form method="POST" action="{% url 'ver_favoritos' %}">
            {% csrf_token %}
            <button type="submit">Ver Favoritos</button>
        </form>
        <form method="POST" action="{% url 'volver_login' %}">
            {% csrf_token %}
            <button type="submit">Volver Login</button>
        </form>
    </body>   
</html>