<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Peliculas Favoritas</title>
        <link rel="stylesheet" href="{% static 'css/tabla.css' %}" >
    </head>
    <body  style="background-color: black;">
        <form method="POST" action="{% url 'regresar_menucliente' %}">
            {% csrf_token %}
            <button style="color: black; font-size: 20px; padding: 10px 20px; width: 200px;height: 50px;border-radius: 10px;background-color: bisque;" type="submit">Regresar Menu</button>
        </form>
        <h1>Favoritos</h1>
        {% for favorito in favoritos %}
        <table>
            <thead>
                <th>Titulo</th>
                <th>Director</th>
                <th>Anio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Id</th>
                <th>Categoria</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ favorito.titulo }}</td>
                    <td>{{ favorito.director }}</td>
                    <td>{{ favorito.anio }}</td>
                    <td>{{ favorito.fecha }}</td>
                    <td>{{ favorito.hora }}</td>
                    <td>{{ favorito.id }}</td>
                    <td>{{ favorito.categoria }}</td>
                </tr>    
            </tbody>
        </table>
        {% empty %}
            <table>
                <tr>
                    <td>No existen registros</td>
                </tr>
            </table>
        {% endfor %}
    </body>
</html>